<div class="col s12 m6 l4">
  <div class="card">
    <a href="/category/{{id}}">
      <div class="card-image">
        <img src="images/tool_background.jpg">
        <span class="card-title">{{name}}</span>
      </div>
    </a>
  </div>
</div>