<!-- RENDERING A TOOL WITH NAME & USER THAT POSTED -->
<section>
    <a href="/tools/{{id}}">
      <div class="row tool-and-owner">
        <h3 class="col s12 l7 tool-name">{{name}}</h3>
        <p class="col s12 l5 tool-owner">posted by {{user.name}}</p>
      </div>
    </a>
</section>
