<div>
  <h2>
    Add a New Post:
  </h2>
  <form class="new-tool">
    <div>
      <label for="New Tool">Tool Name</label>
      <input id="name"/>
    </div>
    <div>
      <label for="Description">Description</label>
      <input id="description"/>
    </div>
    <div>
      <button type="submit">Add New Tool</button>
    </div>
    <label for="category">Choose a Category:</label>

    <select name="category" id="category">
        <option value="1">Automotive</option>
        <option value="2">Hand Tools</option>
        <option value="3">Power Tools</option>
        <option value="4">Welding</option>
        <option value="5">Safety</option>
        <option value="6">Shop Vacuums</option>
        <option value="7">Workwear</option>
        <option value="8">Outdoor Power</option>
        <option value="9">Lawn & Garden</option>

    </select>
  </form>
</div>


<script src="/js/newTool.js"></script> 