<section>
  <div class="row">
      <header class="col s12">
        <div class="row">
          <h3 class="col s12 l7">{{tool.name}} </h3>
          <p class="col s12 l5">posted by {{tool.user.name}}</p>
        </div>
      </header>
      <div class="col s12"> 
        <p>{{tool.description}}</p>
      </div>
  </div>
</section> 
