<!-- RENDERING THE TOOL-DETAILS TEMPLATE FOR EACH OF THE USER'S TOOLS -->
{{#each tools as |tool|}}
{{> tool-details}}
{{/each}}
<!-- BUTTON TO REDIRECT TO CREATING A NEW TOOL -->
<div class="center">
    <button id="add-tool" class="btn btn-primary"><a href="/tools" class="white-text" id="new-tool">Add Tool</a></button>
</div>