<section>
  <div class="row">
      <header class="col s12">
        <div class="row">
          <h3 class="col s12 l7">{{tool.name}} </h3>
          <p class="col s12 l5">posted by {{tool.user.name}}</p>
        </div>
      </header>
      <div class="col s12"> 
        <p>{{tool.description}}</p>
        <input type='hidden' name="tool-id" value="{{tool.id}}">
        <div class="center">
          <input name="tool-body" id="content" placeholder="Update Detail"/>
          <button id="delete-tool" class="btn btn-primary"><a href="#"> DELETE</button>
          <button id="update-tool" class="btn btn-primary"><a href="#">UPDATE</button>

        </div>
      </div>
     


    
  </div>
</section> 

<script src="/js/profile.js"></script>
