body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url('../images/tool_background.jpg');
  background-position: right 80% bottom 70%;
  background-repeat: no-repeat;
  background-size: cover;
}

::placeholder {
  color: white;
}

nav {
  background-color: #ffca28;
}

main {
  flex: 1 0 auto;
}

.form {
  padding: 0 2em 1em;
}

.padded {
  padding-left: 2em;
}
.card-image {
  padding-left: 2em;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

p {
  font-size: 1.5rem;
  color: #1a237e;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#search-submit {
  display: none;
}

#input-group {
  display: inline;
}

.row:hover {
  box-shadow: 0 8px 16px 0 rgba(2, 2, 2, 2);
}

.container {
  background-color: #ffecb3;
  border-radius: 5px;
}

#delete-tool-form {
  display: inline;
}

.tool-name {
  font-size: 2rem; 
}
/* big landscape tablets, laptops, and desktops */
@media screen and (min-width: 992px) {
  .tool-owner {
    margin-top: 48px;
    text-align: right;
  }
}
